.task-wrap .task-list {
    margin-top: 10px;
}

.task-wrap .task-list .complete .task-name-update {
    text-decoration: line-through;
}

.task-wrap .task-list .task-name {
    float: left;
}

.task-wrap .task-list .action-wrap {
    float: right;
}

.list-group .list-group-item  .task-name-update {
    border: 0;
}

.task-wrap .alert {
    display: none;
}

.task-wrap .action-wrap .glyphicon,
.task-wrap .add-task {
    vertical-align: bottom;
}

.modal-body .btn-login {
    margin-right: 20px;
}

.navbar .logout-wrapp,
.modal-content.signup .login-form,
.modal-content.signup .title-login,
.modal-content.login .sign-up-form,
.modal-content .sign-up-form .exist,
.modal-content .sign-up-form .can-login,
.modal-content.login .title-signup {
    display: none;
}

.modal-content .login-form,
.modal-content .sign-up-form .can-login.active,
.modal-content .sign-up-form .exist.active,
.modal-content .sign-up-form {
    display: block;
}

body.login .navbar .logout {
    display: inline;
}

.navbar .logout-wrapp {
    padding: 15px;
}